<%= form_for(@pic) do |f| %>

<% if @pic.errors.any? %>
  <div id="error_explanation">
    <h2><%= @pic.errors.count %>件のエラーがあります。</h2>

    <ul>
    <% @pic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= f.label :タイトル %>
<%= f.text_field :title, class: 'form-control' %>
<br>
<%= f.label :内容 %>
<%= f.text_field :content, class: 'form-control' %>
<br>

<%= f.label :投稿写真 %>
<%= image_tag @pic.image.url if @pic.image? %>
<%= f.file_field :image %>
<%= f.hidden_field :image_cache %>
<br>

<%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>
<%= link_to "写真一覧画面にもどる", pics_path %>
