<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h3>以下の内容で、送信する。</h3>
    <%= form_for(@pic) do |f| %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :content %>
      <p>タイトル:<%= @pic.title %></p>
      <p>本文:<%= @pic.content %></p>
      <%= f.submit "登録" %>
    <% end %>
    <%= form_for(@pic, url: new_pic_path, method: 'get') do |f| %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :content %>
      <%= f.submit "もどる", name: 'back' %>
    <% end %>
  </div>
</div>
